html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #4f5e67;
	font-family: Arial;
	font-size: 11px;
	color: #5f5f5f;
}

#wrapper {
	height: 100%;
	min-width: 900px;
	position: relative;
	top: 0;
	left: 0;
}

#login_wrapper {
	background:url(layout/login_wrapper_bg.gif) repeat-x;
	height: 396px;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -198px;
}

#login_wrapper form {
	margin: 0;
	padding: 0;
	width: 336px;
	margin: 0 auto;
}

#login_wrapper fieldset {
	margin: 0;
	padding: 80px 0 0;
	border: 0;
	position: relative;
	top: 0;
	left: 0;
}

/* start form header */
#logo {
	display: block;
	margin: 0;
	padding: 0;
	width: 336px;
	height: 119px;
}
#logo a {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-indent: -3000px;
	background:url(layout/logo.gif) no-repeat;
}

.formular {
	width: 336px;
	height: 117px;
	
}


/* end form header */

